html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing:inherit;
}
#main{
    background-color: #949BA2;
}
.eventPhoto{
    position: relative;
    left:175px;
    top:25px;
    width:75px;
}
.description{
    max-width:75%;
    margin:0 auto;
}
.IndEvent{
    text-align: center;

}